<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is my home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"href="css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src = https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js></script>
    <script src="js/myscript.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
    <div class="container">
    <div class="jumbotron py-3">
        <h1 class="text-center">{{title}}</h1>
        <p class="pt-3">
            The Covid 19 viral strain directly impacts the lungs, reducing its capacity and limiting the intake of oxygen and leading to ARDS and pneumonia.COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization. It is especially deadly in individuals who have underlying illnesses, and respiratory complications or both.
        </p>
        
        <div class="row text-center">
        
            <div class="col-md-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h3>Confirmed Cases</h3>
                        <h3>{{all_data.data.summary.confirmedCasesIndian}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h3>Recovered Cases</h3>
                        <h3>{{all_data.data.summary.discharged}}</h3>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <h3>Death Cases</h3>
                        <h3>{{all_data.data.summary.deaths}}</h3>
                    </div>
                </div>
            </div>
        </div> 

        <input type="text" 
        class="form-control mt-4"
        placeholder="enter country here"
        ng-model="c"
        ng-change="get_c_data()"
        />
        <div class="container-fluid">
        <h1 class="text-center mt-4 text-uppercase">{{c}}</h1>

        <div class="row text-center mt-4 "ng-if= "c_data">
        
            <div class="col-md-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h3>Confirmed Cases</h3>
                        <h3>{{c_data.data.summary.confirmedCasesIndian}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h3>Recovered Cases</h3>
                        <h3>{{c_data.data.summary.discharged}}</h3>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <h3>Death Cases</h3>
                        <h3>{{c_data.data.summary.deaths}}</h3>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    </div>
</div>
 
</body>
</html>